@keyframes highlight {
    0% {
        box-shadow: 0 0 20px var(--color-accent-dark);
    }
    50% {
        box-shadow: 0 0 20px var(--color-accent-dark);
    }
    100% {
        box-shadow: none;
    }
}
