
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    font-weight: 700;
    line-height: 1.1;
}

h1,
.h1 {
    font-size: var(--font-size-h1);
}

h2,
.h2 {
    font-size: var(--font-size-h2);
}

h3,
.h3 {
    font-size: var(--font-size-h3);
}

h4,
.h4 {
    font-size: var(--font-size-h4);
}

h5,
.h5 {
    font-size: var(--font-size-h5);
}

h6,
.h6 {
    font-size: var(--font-size-h6);
}

p, .paragraph {
    font-size: var(--font-size-p);
    font-weight: 400;
    line-height: 1.25;
}

p.light {
    font-weight: 300;
}

.small {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
}
