# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode

# Local env files
.env
.env.*

# Git
.git
.gitignore

# CI/CD
.github

# Documentation
README.md

# Docker
Dockerfile
.dockerignore
docker-compose.yml
